@media only screen and (max-width:376px ){
    .col-xs-1 {width: 8.33333%;}
    .col-xs-2 {width: 16.66667%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33333%;}
    .col-xs-5 {width: 41.66667%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33333%;}
    .col-xs-8 {width: 66.66667%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33333%;}
    .col-xs-11 {width: 91.66667%;}
    .col-xs-12 {width: 100%;}

}
@media only screen and (min-width:377px )and (max-width:740px ){
    .col-s-1 {width: 8.33333%;}
    .col-s-2 {width: 16.66667%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33333%;}
    .col-s-5 {width: 41.66667%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33333%;}
    .col-s-8 {width: 66.66667%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33333%;}
    .col-s-11 {width: 91.66667%;}
    .col-s-12 {width: 100%;}

    .header  {
        display: none;
    }
    .menu  {
        display: none;
    }
    .left  {
        display: none;
    }
    .vanban  {
        display: none;
    }
    .hinh {
        display: none;
    }

}
@media only screen and (min-width:741px)and (max-width:1240px) {
    .col-md-1 {width: 8.33333%;}
    .col-md-2 {width: 16.66667%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33333%;}
    .col-md-5 {width: 41.66667%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33333%;}
    .col-md-8 {width: 66.66667%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33333%;}
    .col-md-11 {width: 91.66667%;}
    .col-md-12 {width: 100%;}
}
@media only screen and (min-width:1241px){
    .col-l-1 {width: 8.33333%;}
    .col-l-2 {width: 16.66667%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33333%;}
    .col-l-5 {width: 41.66667%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33333%;}
    .col-l-8 {width: 66.66667%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33333%;}
    .col-l-11 {width: 91.66667%;}
    .col-l-12 {width: 100%;}
}

body{
    margin: 0;
    padding: 0;
}

.header{
    height: 80px;
    width: 100%;
    background: gainsboro;
}
.footer p{
    display: flex;
    margin: auto;
    font-size: 25px;
    color: yellow;
    font-weight: 200 ;
}
.header img {
    margin-left: 100px;
    padding: 0;
    height: 80px;
}
.head-link{
    height: 50px;
    width: 100%;
    background: #8fb1d8;
    padding: 6px;
}

.mau{
    width: 20%;
    height: 100%;
    color: rgba(168,42,13,0.98);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 25px;
}
.phan-dau{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
body{
    margin: 0;
    padding: 0;
}

.phangiua{
    width: 100%;
    height: 700px;
}
.footer{
    background-color: dimgray;
    height: 30px;
}
.left{
    background-color: lightcoral;
    height: 100%;
    float: left;

    display: flex;
    flex-direction: column;
}
.right{
    background-color: blanchedalmond;
    height: 100%;
    float: left;
}
.hinh{
    width: 90%;
    height: 188px;
    margin-bottom: 10px;

}
.gioithieu{
    display: flex;
}
.noidung{
    margin: 5px 15px;

}
