@media only screen and (max-width:376px ){
    .col-xs-1 {width: 8.33333%;}
    .col-xs-2 {width: 16.66667%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33333%;}
    .col-xs-5 {width: 41.66667%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33333%;}
    .col-xs-8 {width: 66.66667%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33333%;}
    .col-xs-11 {width: 91.66667%;}
    .col-xs-12 {width: 100%;}
}
@media only screen and (min-width:377px )and (max-width:740px ){
    .col-s-1 {width: 8.33333%;}
    .col-s-2 {width: 16.66667%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33333%;}
    .col-s-5 {width: 41.66667%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33333%;}
    .col-s-8 {width: 66.66667%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33333%;}
    .col-s-11 {width: 91.66667%;}
    .col-s-12 {width: 100%;}

}
@media only screen and (min-width:741px)and (max-width:1240px) {
    .col-md-1 {width: 8.33333%;}
    .col-md-2 {width: 16.66667%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33333%;}
    .col-md-5 {width: 41.66667%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33333%;}
    .col-md-8 {width: 66.66667%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33333%;}
    .col-md-11 {width: 91.66667%;}
    .col-md-12 {width: 100%;}
}
@media only screen and (min-width:1241px){
    .col-l-1 {width: 8.33333%;}
    .col-l-2 {width: 16.66667%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33333%;}
    .col-l-5 {width: 41.66667%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33333%;}
    .col-l-8 {width: 66.66667%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33333%;}
    .col-l-11 {width: 91.66667%;}
    .col-l-12 {width: 100%;}
}
.row{
    display: flex;
    flex-wrap: wrap;
}

body{
    margin: 0;
}
.header{
    width: 100%;
    background-color: dimgray;
    height: 80px;
}
.col-md-1 {width: 8.33333%;}
.col-md-2 {width: 16.66667%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33333%;}
.col-md-5 {width: 41.66667%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33333%;}
.col-md-8 {width: 66.66667%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33333%;}
.col-md-11 {width: 91.66667%;}
.col-md-12 {width: 100%;}


.left{
    background: darkgrey;
    height: 750px;
}
.right{
    background: darkgrey;
    height: 750px;
}
.contain{
    background: #ffffff;
}
.footer{
    background-color: dimgray;
    height: 80px;
}
.phan-dau{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.mau{
    width: 5%;
    height: 100%;
    color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 30px;
}
.link{
    display: flex;
    flex-direction: column;
    margin: 0;

}
.bentrai{
    display: flex;
    justify-content: center;
    margin: 7px 0;
}
.benphai{
    height: 60px;
    width: 60%;
    margin:2px auto ;
    display: flex;
    justify-content: center;
    border: 1px  solid;
    line-height: 60px;
    border-radius: 5px;
}




